/* Header */

/* Header size, color / text font family */
.horiseon-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
    color: #ffffff;
    background-color: #2a607c;
}

/* Header text sizing and position */
.horiseon-header h1 {
    font-size: 48px;
    display: inline-block;
}

/* "seo" header text coloring */
.horiseon-header h1 .seo {
    color: #d9dcd6;
}



/* Navbar */

/* Header navbar properties */
.horiseon-header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

/* Navbar list properties */
.horiseon-header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Navbar border sizing */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Navbar links text color */
a {
    color: #ffffff;
    text-decoration: none;
}



/* Body */

/* Body background color */
body {
    background-color: #d9dcd6;
}

/* Main landing image properties */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Float properties for section headers */
.float-left {
    margin-right: 25px;
    float: left;
}

.float-right {
    margin-left: 25px;
    float: right;
}

/* Sizing and spacing of main content headers */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Display properties of content sections */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Main content text font size */
p {
    font-size: 16px;
}

/* Properties of main content text */
.search-engine-optimization {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #0072bb;
}

.online-reputation-management {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #0072bb;
}

.social-media-marketing {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 300px;
    padding: 50px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #0072bb;
}

/* Cropping for main content images */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}



/* Aside */

/* Properties for aside tab */
.benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 20%;
    height: 100%;
    padding: 20px;
    margin-right: 20px;
    clear: both;
    float: right;
    background-color: #2589bd;
}

/* Properties of aside header text */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Properties of aside body text */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Properties of aside clipart images */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/* Footer */

/* Properties of footer */
.horiseon-footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 30px;
    text-align: center;
    clear: both;
}

.horiseon-footer h2 {
    font-size: 20px;
}

/* List style type for footer */
.horiseon-footer nav ul {
    list-style-type: none;
}